<!-- Footer -->
<footer class="bg-light text-center ">
    <!-- Grid container -->
    <div class="container p-4">

        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a class="navbar-brand me-2" href="https://www.facebook.com/">
                <img
                        src="https://t4.ftcdn.net/jpg/05/32/20/03/240_F_532200355_odKN9Ou3WB6iHWJTFIElFtJbTuzJspY6.jpg
"
                        height="30"
                        alt=""
                        loading="lazy"
                        style="margin-top: -1px;"
                />
            </a>
            <a class="navbar-brand me-2" href="https://x.com/?lang=fr">
                <img
                        src="https://t4.ftcdn.net/jpg/08/20/52/17/240_F_820521709_z8FTmeQtHK8ZrwxmHAlUxeIuscjRQ2gj.jpg
"
                        height="40"
                        alt=""
                        loading="lazy"
                        style="margin-top: -1px;"
                />
            </a><a class="navbar-brand me-2" href="https://www.google.com/">
                <img
                        src="https://t4.ftcdn.net/jpg/06/95/13/81/240_F_695138149_GdRIPxSoXU0a6TgH6Sl3Z9TGaOSjzHBd.jpg
"
                        height="40"
                        alt=""
                        loading="lazy"
                        style="margin-top: -1px;"
                />
            </a><a class="navbar-brand me-2" href="https://www.instagram.com/">
                <img
                        src="https://t4.ftcdn.net/jpg/05/32/20/03/240_F_532200382_KL6CDaZcusiZO9nO5TD7hWQEz8Ko6BZB.jpg
"
                        height="30"
                        alt=""
                        loading="lazy"
                        style="margin-top: -1px;"
                />
            </a><a class="navbar-brand me-2" href="https://fr.linkedin.com/">
                <img
                        src="https://t3.ftcdn.net/jpg/07/20/35/66/240_F_720356625_dQpy4Kic6GUcWAbrtF4crZzSGYRJ7WHS.jpg
"
                        height="35"
                        alt=""
                        loading="lazy"
                        style="margin-top: -1px;"
                />
            </a><a class="navbar-brand me-2" href="https://github.com/">
                <img
                        src="https://t3.ftcdn.net/jpg/03/85/94/02/240_F_385940219_jMth3ifV1fr6KDPCe84q4xL6LuEkxY4W.jpg
"
                        height="30"
                        alt=""
                        loading="lazy"
                        style="margin-top: -1px;"
                />
            </a>
<!--            <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>-->

<!--            &lt;!&ndash; Twitter &ndash;&gt;-->
<!--            <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="#!" role="button"><i class="fab fa-twitter"></i></a>-->

<!--            &lt;!&ndash; Google &ndash;&gt;-->
<!--            <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39" href="#!" role="button"><i class="fab fa-google"></i></a>-->

<!--            &lt;!&ndash; Instagram &ndash;&gt;-->
<!--            <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!" role="button"><i class="fab fa-instagram"></i></a>-->

<!--            &lt;!&ndash; Linkedin &ndash;&gt;-->
<!--            <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>-->
<!--            &lt;!&ndash; Github &ndash;&gt;-->
<!--            <a class="btn btn-primary btn-floating m-1" style="background-color: #333333" href="#!" role="button"><i class="fab fa-github"></i></a>-->
        </section>
        <!-- Section: Social media -->


        <!-- Section: Form -->
<!--        <section class="">-->
<!--            <form action="">-->
<!--                &lt;!&ndash;Grid row&ndash;&gt;-->
<!--                <div class="row d-flex justify-content-center">-->
<!--                    &lt;!&ndash;Grid column&ndash;&gt;-->
<!--                    <div class="col-auto">-->
<!--                        <p class="pt-2">-->
<!--                            <strong>Sign up for our newsletter</strong>-->
<!--                        </p>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;Grid column&ndash;&gt;-->

<!--                    &lt;!&ndash;Grid column&ndash;&gt;-->
<!--                    <div class="col-md-5 col-12">-->
<!--                        &lt;!&ndash; Email input &ndash;&gt;-->
<!--                        <div class="form-outline mb-4">-->
<!--                            <input type="email" id="form5Example2" class="form-control" />-->
<!--                            <label class="form-label" for="form5Example2">Email address</label>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;Grid column&ndash;&gt;-->

<!--                    &lt;!&ndash;Grid column&ndash;&gt;-->
<!--                    <div class="col-auto">-->

<!--                        &lt;!&ndash; Submit button &ndash;&gt;-->
<!--                        <button type="submit" class="btn btn-primary mb-4">-->
<!--                            Subscribe-->
<!--                        </button>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;Grid column&ndash;&gt;-->
<!--                </div>-->
<!--                &lt;!&ndash;Grid row&ndash;&gt;-->
<!--            </form>-->
<!--        </section>-->
<!--        &lt;!&ndash; Section: Form &ndash;&gt;-->


        <!-- Section: Text -->
        <section class="mb-4">
            <p>
                Votre Satisfaction notre priorité!
            </p>
        </section>
        <!-- Section: Text -->


        <!-- Section: Links -->
        <section class="">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
<!--                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">-->
<!--                    <h5 class="text-uppercase">Links</h5>-->

<!--                    <ul class="list-unstyled mb-0">-->
<!--                        <li>-->
<!--                            <a href="#!" class="text-dark">Link 1</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#!" class="text-dark">Link 2</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#!" class="text-dark">Link 3</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#!" class="text-dark">Link 4</a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--                &lt;!&ndash;Grid column&ndash;&gt;-->

<!--                &lt;!&ndash;Grid column&ndash;&gt;-->
<!--                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">-->
<!--                    <h5 class="text-uppercase">Links</h5>-->

<!--                    <ul class="list-unstyled mb-0">-->
<!--                        <li>-->
<!--                            <a href="#!" class="text-dark">Link 1</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#!" class="text-dark">Link 2</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#!" class="text-dark">Link 3</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#!" class="text-dark">Link 4</a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
                <!--Grid column-->

                <!--Grid column-->
<!--                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">-->
<!--                    <h5 class="text-uppercase">Links</h5>-->

<!--                    <ul class="list-unstyled mb-0">-->
<!--                        <li>-->
<!--                            <a href="#!" class="text-dark">Link 1</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#!" class="text-dark">Link 2</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#!" class="text-dark">Link 3</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#!" class="text-dark">Link 4</a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
                <!--Grid column-->

                <!--Grid column-->
<!--                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">-->
<!--                    <h5 class="text-uppercase">Links</h5>-->

<!--                    <ul class="list-unstyled mb-0">-->
<!--                        <li>-->
<!--                            <a href="#!" class="text-dark">Link 1</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#!" class="text-dark">Link 2</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#!" class="text-dark">Link 3</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#!" class="text-dark">Link 4</a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->

    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2024 Copyright:
        <a class="text-dark" href="home.html">Reservation.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->