<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary" xmlns:th="http://www.w3.org/1999/xhtml">
  <div class="container">
    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-journal-check" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M10.854 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 8.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
      <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2"/>
      <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z"/>
    </svg>

    <!-- Bouton de toggle -->
    <button data-mdb-collapse-init class="navbar-toggler" type="button" data-mdb-target="#navbarButtonsExample"
            aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    &nbsp;&nbsp;

    <!-- Contenu collapsible -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Liens à gauche -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Lien vers la page des domaines -->
        <li class="nav-item">
          <!--                    <a class="nav-link" href="/domaines.html">Reservation</a>-->
          <button data-mdb-ripple-init type="button" class="btn btn-primary me-3" onclick="location.href='/domaines-public'">
            Reservation                    </button>
        </li>
      </ul>
      &nbsp;&nbsp;
      <!-- Boutons à droite -->
      <div class="d-flex align-items-center">
        <button data-mdb-ripple-init type="button" class="btn btn-primary me-3" onclick="location.href='/signup'">
          Sign up for free
        </button>
      </div>
    </div>

    <!-- Liens supplémentaires -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- Autres liens de navigation ici si nécessaire -->
      </ul>

      <!-- Formulaire de recherche ou autres actions -->
      <form class="form-inline my-2 my-lg-0">
        <!-- Bouton de retour -->
<!--        <a href="#" onclick="history.back();" class="btn btn-outline-success my-2 my-sm-0">Retour</a>-->

          <a href="/" class="btn btn-outline-primary my-2 my-sm-0 ml-2">Accueil</a>

        <!-- Bouton d'accueil -->
      </form>
    </div>
  </div>
</nav>
