<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${pageTitle}">Page d'Accueil</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Ajoutez ici d'autres fichiers CSS personnalisés si nécessaire -->
</head>
<body>
<!-- Navbar -->
<div data-th-replace="/fragments/navHome :: nav"></div>
<!-- Navbar -->
<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Bienvenue sur notre Plateforme</h1>
        <p class="lead">Votre solution pour la réservation d'infrastructures sportives.</p>
        <hr class="my-4">
        <p>Cliquez ci-dessous pour commencer :</p>
        <a th:href="@{/login}" class="btn btn-primary btn-lg" href="/login" role="button">Se Connecter</a>
        <!-- Remplacez "/login" par le chemin approprié pour la connexion -->
    </div>
</div>
<div  data-th-replace="/fragments/footer :: footer" ></div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- Ajoutez ici d'autres fichiers JavaScript personnalisés si nécessaire -->
<script src="/nav.js"></script>
</body>
</html>
